*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  --column_number: 4;
  grid-template-columns: repeat(var(--column_number), auto);
}

@media screen and (max-width: 500px) {
  .wrapper {
    --column_number: 2;
  }
}
