@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  --red: #e63946;
  --pink: #efc7c2;
  --light_blue: #a8dadc;
  --dark_blue: #457b9d;
  --navy: #1d3557;
  --neutral: #f1faee;
  --grey: #f5f5f5;
  background-color: var(--navy);
  font-family: "Roboto", sans-serif;
}
body.light {
  background-color: var(--grey);
}
.light .add_div,
.light .no_tag {
  --neutral: #1d3557;
  --navy: #f1faee;
}

/* make the letter to sentence text reaveal */
.titleDiv {
  margin: 0 auto;
  max-width: 900px;
  height: 150px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #f1faee;
  margin-top: 15%;
}

/* design idea - making the button have a hover effect */

.btns {
  margin: 0 auto;
  margin-top: -45px;
  max-width: 550px;
  height: 100px;
  font-size: 10px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.btn1 {
  background-color: #efc7c2;
  color: #1d3557;
  font-weight: bold;
  padding: 7px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

.btn2 {
  background-color: #457b9d;
  color: #f1faee;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  margin: 15px;
}
.btn3 {
  background-color: #a8dadc;
  color: #1d3557;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  margin: 15px;
}

.btn4 {
  background-color: #e63946;
  color: #f1faee;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  margin: 15px;
}

.wrapper {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  --column_number: 4;
  grid-template-columns: repeat(var(--column_number), auto);
}
.card {
  margin: 2rem;
  padding: 2rem;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 1.25rem;
  color: var(--navy);
}
.no_tag {
  background-color: var(--neutral);
}
.tag_vent {
  background-color: var(--red);
  color: var(--neutral);
}
.tag_regrets {
  background-color: var(--dark_blue);
  color: var(--neutral);
}
.tag_mentalhealth {
  background-color: var(--light_blue);
}
.tag_motivated {
  background-color: var(--pink);
}
.tag_elem {
  display: flex;
  justify-content: space-between;
}
.add_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;
}
.hide {
  display: none;
}
/* ! If change h2 elem, remember to change this */
h2 {
  margin: 0;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    --column_number: 3;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    --column_number: 2;
  }
}
@media screen and (max-width: 750px) {
  .wrapper {
    --column_number: 1;
  }
}
