@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  --red: #e63946;
  --pink: #efc7c2;
  --light_blue: #a8dadc;
  --dark_blue: #457b9d;
  --navy: #1d3557;
  --neutral: #f1faee;
  background-color: var(--navy);
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  --column_number: 4;
  grid-template-columns: repeat(var(--column_number), auto);
}
.card {
  margin: 3rem;
  padding: 3rem;
  width: 500px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 2.25rem;
  color: var(--navy);
}
.no_tag {
  background-color: var(--neutral);
}
.tag_vent {
  background-color: var(--red);
  color: var(--neutral);
}
.tag_regrets {
  background-color: var(--dark_blue);
  color: var(--neutral);
}
.tag_mentalhealth {
  background-color: var(--light_blue);
}
.tag_motivated {
  background-color: var(--pink);
}
.tag_elem {
  display: flex;
  justify-content: space-between;
}
.add_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rem;
}
.hide {
  display: none;
}
/* ! If change h2 elem, remember to change this */
h2 {
  margin: 0;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    --column_number: 3;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    --column_number: 2;
  }
}
@media screen and (max-width: 750px) {
  .wrapper {
    --column_number: 1;
  }
}

/* .light {
  background-color: #f5f5f5;
  color: #1d3557;
}

.dark {
  background-color: #1d3557;
  color: #f1faee;
  border: 1px solid white;
} */
